<div class="pcoded-inner-navbar main-menu">
    <div class="">
        <div class="main-menu-header">
            <img class="img-80 img-radius" src="~/Templates/material_able-main/assets/images/avatar-4.jpg" alt="User-Profile-Image">
            <div class="user-details">
                <span id="more-details">KidKinder Admin<i class="fa fa-caret-down"></i></span>
            </div>
        </div>

    </div>

    @*https://themify.me/themify-icons*@ @*iconları değiştir*@

<ul class="pcoded-item pcoded-left-item">
    <li class="">
        <a href="/Dashboard/Index" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
            <span class="pcoded-mtext">Dashboard</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

    <li class="">
        <a href="/About/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-anchor"></i><b>D</b></span>
            <span class="pcoded-mtext">Hakkımızda</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/AboutList/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-panel"></i><b>D</b></span>
            <span class="pcoded-mtext">Hakkımda Listesi</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/Address/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-comment"></i><b>D</b></span>
            <span class="pcoded-mtext">Adres</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/BookASeat/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-desktop"></i><b>D</b></span>
            <span class="pcoded-mtext">Kontenjan</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/Branch/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-brush-alt"></i><b>D</b></span>
            <span class="pcoded-mtext">Branşlar</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/ClassRoom/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="ti-ruler-pencil"></i><b>D</b></span>
            <span class="pcoded-mtext">Sınıflar</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

    <li class="">
        <a href="index.html" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-bars"></i><b>D</b></span>
            <span class="pcoded-mtext">Öğrenciler</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

    <li class="">
        <a href="/Testimonial/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-archive"></i><b>D</b></span>
            <span class="pcoded-mtext">Veliler</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

    <li class="">
        <a href="/Teacher/TeacherList/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-male"></i><b>D</b></span>
            <span class="pcoded-mtext">Öğretmenler</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

    <li class="">
        <a href="/Address/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-address-book"></i><b>D</b></span>
            <span class="pcoded-mtext">Adres</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/Feature/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-book"></i><b>D</b></span>
            <span class="pcoded-mtext">Öne Çıkan</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/Testimonial/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-comment"></i><b>D</b></span>
            <span class="pcoded-mtext">Görüşler</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/Service/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-bus"></i><b>D</b></span>
            <span class="pcoded-mtext">Servisler</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/Communication/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-phone"></i><b>D</b></span>
            <span class="pcoded-mtext">İletişim</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/Admin/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-male"></i><b>D</b></span>
            <span class="pcoded-mtext">Admin</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>

    <li class="">
        <a href="/Contact/AdminIndex/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-mobile-phone"></i><b>D</b></span>
            <span class="pcoded-mtext">Gelen Mesajlar</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
    <li class="">
        <a href="/Notification/Index/" class="waves-effect waves-dark">
            <span class="pcoded-micon"><i class="fa fa-code"></i><b>D</b></span>
            <span class="pcoded-mtext">Bildirimler</span>
            <span class="pcoded-mcaret"></span>
        </a>
    </li>
</ul>

</div>
